@charset "UTF-8";

.menu__wrapper {
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.menu__contents {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: skyblue;
}

.menu__button button {
	width: 100px;
	height: 30px;
}